.ant-card .ant-card-body {
    padding: 0px;
    border-radius: 0 0 8px 8px;
}

.ant-pagination .ant-pagination-item-active a {
    color: #438E93;
}

.ant-pagination .ant-pagination-item-active a:hover {
    color: #438E93;
}

.ant-pagination .ant-pagination-item-active:hover {
    border-color: #438E93;

}

.ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #438E93;
}


/* slider range  */

.ant-slider-horizontal .ant-slider-track {
    height: 4px;
}

.ant-slider .ant-slider-track {
    position: absolute;
    background-color: #438E93;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.ant-slider .ant-slider-handle::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #438E93;
    border-radius: 50%;
    cursor: pointer;
    transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}

.ant-slider:hover .ant-slider-track {
    background-color: #438E93;
}

.ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-1w4v3hc).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-1w4v3hc).ant-slider .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 4px #438E93;
    width: 12px;
    height: 12px;
    inset-inline-start: -1px;
    inset-block-start: -1px;
}

/* check box  */

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-1w4v3hc).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: #438E93;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #438E93;
    border-color: #438E93;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: #438E93;
    border-color: transparent;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after {
    border-color: #438E93;
}

/* Modal Css */

.ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 10px 14px;
}

/* select options  */

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #438E93;
    color: #ffffff;
}

/* table css  */

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
    position: relative;
    color: #fff;
    font-weight: 600;
    text-align: start;
    background: #438E93;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s ease;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
    background: #438E93;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td,
.ant-table-wrapper .ant-table.ant-table-small tfoot>tr>th,
.ant-table-wrapper .ant-table.ant-table-small tfoot>tr>td {
    padding: 8px 8px;
    text-align: center;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-title,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-footer,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>th,
.ant-table-wrapper .ant-table.ant-table-small tfoot>tr>th,
.ant-table-wrapper .ant-table.ant-table-small tfoot>tr>td {
    padding: 1px 8px;
}

.ant-table-wrapper .ant-table-cell-ellipsis .ant-table-column-title {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    font-size: 12px;
    font-family: 'Roboto',
        sans-serif;
    letter-spacing: 1px;
}

.ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th,
.ant-table-header>table>thead>tr>th,
.ant-table-body>table>thead>tr>th,
.ant-table-summary>table>thead>tr>th {
    border-inline-end: 1px solid #f0f0f0;
    font-size: 12px;
    font-family: 'Roboto',
        sans-serif;
    letter-spacing: 1px;
}

.anticon-plus {
    display: none;
}


.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
    background: #438E93;
}

a:hover {
    color: #1B6273;
}

.ant-table-wrapper .ant-table-filter-trigger {
    color: rgba(255, 255, 255, 0.994);
}

.ant-table-wrapper .ant-table-column-sorter {
    color: rgba(248, 248, 248, 0.983);
}

.ant-table-wrapper .ant-table-column-sorter-down.active {
    color: #ffffff;
}

.ant-table-wrapper .ant-table-column-sorter-up.active,
.ant-table-wrapper .ant-table-column-sorter-down.active {
    color: #ffffff;
}

/*-------------- CheckBox ---------------*/

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #438E93;
    border-color: #438E93;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: #438E93;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
    top: 50%;
    inset-inline-start: 50%;
    width: 8px;
    height: 8px;
    background-color: #438E93;
    border: 0;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: "";
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after {
    border-color: #438E93;
}