@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');


/* font-family: 'EB Garamond',
serif;
font-family: 'Libre Caslon Text',
serif;
font-family: 'Roboto',
sans-serif;
*/

body {
  background-color: #fff;
  font-family: 'Roboto',
    sans-serif;
}

.input-border {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 13px;
}

.input-title {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 0.5px;
}

.input-button {
  color: #438E93;
  font-weight: 600;
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.3px;
  background-color: #fff;
  background-position-y: 0%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
  transition: ease-in-out 0.3s;
}

.input-button:hover {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.3px;
  background-color: #438E93;
  background-position-y: 0%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
}