@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Orienta&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rufina:wght@400;700&display=swap');


/* font-family: 'EB Garamond',
serif;
font-family: 'Libre Caslon Text',
serif;
font-family: 'Roboto',
sans-serif;



font-family: 'EB Garamond',
serif;
font-family: 'Libre Caslon Text',
serif;
font-family: 'Orienta',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Rufina',
serif;
*/

body {
  background-color: #fff;
  /* font-family: 'Roboto',
    sans-serif; */
  font-family: 'Poppins',
    sans-serif;
}

.input-border {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 15px;
}

.input-select-border {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 4px 5px;
  font-size: 13px;
}

.input-title {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 0.5px;
}

.input-border {
  border: 1px solid #d9d9d9;
  line-height: 30px;
  border-radius: 6px;
  padding: 0 11px;
  font-size: 14px;
  color: #464646;
}

.input-border-option {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 6px 11px;
  font-size: 14px;
  color: #464646;
}

.input-title-font {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 0.5px;
}

.bk-input-button {
  background-color: #438E93;
  font-family: 'Poppins',
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.3px;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
  transition: ease-in-out 0.3s;
}

.bk-modal-red-button {
  font-family: 'Poppins',
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.3px;
  background-color: #b00808d8;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
  transition: ease-in-out 0.3s;
}

.bk-input-red-button {
  font-family: 'Poppins',
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.3px;
  color: #1B6273;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
  transition: ease-in-out 0.3s;
}

.bk-input-red-button:hover {
  background-color: #b00808d8;
  color: #fff;
}

.bk-input-button:hover {
  color: #fff;
  background-color: #1B6273;
  box-shadow: 1px 1px 4px 0px #000000;
}

.input-button {
  color: #438E93;
  font-weight: 500;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.3px;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #000000;
  transition: ease-in-out 0.3s;
}

.input-button:hover {
  color: #fff;
  background-color: #438E93;
}

.heading {
  color: #438E93;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.7em;
  letter-spacing: 0.2px;
  word-spacing: 0.2px;
}

.my-item-button {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.9em;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: ease-in-out all 0.3s;
  margin: 10px 0;
}

.my-item-button:hover {
  border: 1px solid #438E93;
  box-shadow: 1px 1.4px 4px 0px #000000;
  background-color: #438E93;
  color: #fff;
}


.my-profile-bg {
  background: url('../assets/img/Heading-bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/* menu  hover effect  */

.custom_link {
  background-image: linear-gradient(to right,
      #438E93,
      #1B6273 50%,
      #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.custom_link:before {
  content: '';
  background: #438E93;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.custom_link:hover,
.custom_link.active {
  background-position: 0;
}

.custom_link:hover::before,
.custom_link.active::before {
  width: 100%;
}

/* style for mobile menu  */
.custom_link_.active_ {
  color: white;
}

.custom_link_ {
  color: black;
}

.box {
  border-top: 10px solid #1B6273;
  border-bottom: 10px solid #1B6273;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px #2c2e2e;
}

/* Customized default Select Option */
select option:checked {
  background: #32A2B3;
  color: #fff;
}

select option {
  padding: 4px;
  font-family: sans-serif;
}

select option:hover {
  background: #32A2B3 !important;
  color: #fff;
}

/* For copying things */
::selection {
  color: white !important;
  background: #32A2B3 !important;
}